.cart_product_table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
  vertical-align: top;
}
.cart_product_table td {
  padding: 15px 10px;
}
.cart_product_table tr {
  vertical-align: top;
  height: 100px;
}
.btn_mini_delete {
  font-size: 9px;
  border-bottom: 1px solid black;
  cursor: pointer;
  display: inline-block;
  color: black;
  text-decoration: none;
}
.btn_mini_delete.large {
  font-size: 13px;
  padding-bottom: 5px;
  margin: 5px;
}
.cart_product_table tr {
  border-bottom: 1pt solid black;
}
